@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
        :root{
            font-family:'Noto Sans KR' sans-serif;
            font-weight:300;
            font-size:14px;
        }
        .scnone{
            width:0;
            height:0;
            overflow:hidden;
        }

        .skip-menu a{
            padding:1em 2em;
            background-color:#017ec6;
            font-weight:900;
            font-size:4em;
            color:white;
            position:fixed;
            left:50%;
            top:-10000px;
            z-index:99999;
            transform:translate(-50%,-50%);
        }
        .skip-menu a:focus{
            outline:none;
            top:50%;
        }

        .wrap{
            overflow:hidden;
        }
        .container{
            max-width:1920px;
            margin:0 auto;                       
        }

        .header{
            position:fixed;
            left:0;
            right:0;
            top:0;
            z-index:99998;
            background-color:#fff;
        }
        .header .container{
            max-width:1200px;
            padding:0 20px 8px;
            display:flex;
            justify-content:space-between;
            align-items:center;            
        }
        .main-tit,.footer-tit{
            display:flex;
            flex-flow:column nowrap;
            align-items:flex-end;
        }
        .tit-eng{
            padding-left:12px;
            font-weight:900;
            font-size:28px;
            position:relative;
        }
        .tit-eng::before,.tit-eng::after{
            content:'';
            display:block;
            width:7px;
            height:7px;
            background-color:#017ec6;
            position:absolute;
            left:0;
            top:11px;            
        }
        .tit-eng::after{            
            background-color:#00a650;
            top:auto;
            bottom:8px;            
        }
        
        .header .nav{
            padding:20px;
            background-color:#017ec6;
            position:fixed;
            left:0;
            right:0;
            top:68px;
            bottom:0;
            z-index:99998;
            transform:translate(100%,0);            
            transition:0.3s;
        }
        .header .nav.active{
            transform:translate(0,0);
        }
        
        .main-nav>li{
            padding:5px 0;
            font-size:20px;            
        }
        .main-nav>li:first-child{
            padding-top:0;
        }
        .main-nav>li:last-child{
            padding-bottom:0;
        }
        .main-nav>li>a{
            display:flex;
            justify-content: space-between;
            align-items:center;
        }
        .main-nav>li>a::after{
            content:'';
            display:block;
            width:12px;
            height:12px;
            border:6px solid transparent;
            border-left-color:#fff;
            transition:0.3s;
        }
        .main-nav>li.active>a::after{
            transform:rotate(90deg);
        }
        .main-nav>li:hover>a{
            color:#00a650;
        }
        .main-nav a{
            color:#fff;
        }
        .main-nav ul{
            padding-left:1em;
            font-size:0.8em;
            display:none;
        }
        .main-nav ul>li:hover>a{
            color:#00a650;
        }
        .sub-nav{
            position:absolute;
            left:20px;
            right:20px;
            bottom:20px;
            display:flex;
            justify-content:flex-start;
            align-items:flex-end;            
        }
        .sub-nav li{
            margin-right:20px;
            padding:0.5em 1em;
        }        
        .sub-nav li:nth-child(2){
            border-radius:20px;
            background-color:#00a650;
            display:flex;
        }
        .sub-nav li:nth-child(2)::before{
            content:'';
            display:block;
            width:20px;
            height:20px;
            margin-right:0.5em;
            background:url(../images/img-main01.jpg) no-repeat center center;
            background-size:cover;
        }

        .sub-nav li:last-child{
            width:40px;
            height:40px;
            border-radius:20px;
            background-color:#00a650;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .sub-nav a{
            color:#fff;
        }
        .btn-nav{
            height:34px;
            padding-top:4px;
            display:flex;
            flex-flow:column nowrap;
            justify-content:space-between;
            cursor:pointer;
        }
        .btn-nav .btn-line{
            width:30px;
            height:3px;
            background-color:#000;
            text-indent:-999999px;
            border-radius:1.5px;
            transition:0.3s;
        }
        .btn-nav.rotate .btn-line:nth-child(1){
            transform:rotate(50deg);
            transform-origin:left top;
            width:36px;
        }
        .btn-nav.rotate .btn-line:nth-child(2){
            width:0;
            opacity:0;
        }
        .btn-nav.rotate .btn-line:nth-child(3){
            transform:rotate(-50deg);
            transform-origin:left bottom;
            width:36px;
        }

        .main-banner{
            padding-top:69px;
        }
        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
            bottom:30px;            
            left:10%;
            right:10%;
            width:auto;
        }
        
        .swiper-pagination .swiper-pagination-bullet{
            width:20%;
            height:1px;
            margin:0 !important;
            border-radius:0;
            background-color:#fff;
            opacity:1;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active{
            height:3px;
            background-color:#017ec6;
        }
        .swiper-slide-name{
            position:absolute;
            left:10%;
            right:10%;
            bottom:12px;
            display:flex;
            z-index:99997;
            font-size:12px;
        }
        .swiper-slide-name span{
            flex:1;
            text-align:center;
            cursor:pointer;
            color:#fff;
            font-weight:500;
        }
        .swiper-slide-name span.active{
            color:#017ec6;
        }
        .link-slide{
            padding-right:30px;
            color:#666;
            position:absolute;
            left:16%;
            top:50%;
            z-index:99996;
            font-size:10px;
        }
        .link-slide::before,.link-slide::after{
            content:'';
            display:block;
            width:16px;
            height:16px;            
            background-color:#666;
            position:absolute;
            right:6px;
            top:50%;
            transform:translate(0,-50%) rotate(45deg);
        }
        .link-slide::before{
            border-radius:50%;
            right:-0px;
            cursor:pointer;
        }
        .link-slide::after{
            width:8px;
            height:8px;
            border-top:2px solid #fff;
            border-right:2px solid #fff;
            background-color:transparent;
        }
        .swiper-button-prev,.swiper-button-next{
            display:none;
        }

        .swiper02{
            padding-top:200px;
            padding-bottom:200px;
        }
       
        .swiper02 img{
            width:auto;
            height:300px;      
            display:block;
            margin:0 auto;      
        }
        .swiper02 .swiper-pagination{
            bottom:212px !important;
        }
        .swiper02 .swiper-pagination .swiper-pagination-bullet{
            width:6px;
            height:6px;
            margin:0 3px !important;
            border-radius:50%;
        }
        .sub-banner-txt{            
            display:flex;
            align-items:center;            
        }
        .sub-banner-txt .sub-banner-slide-top{            
            font-weight:900;
            font-size:46px;
            position:absolute;
            left:20px;
            right:20px;
            top:-34;
            z-index:99996;
        }
        .sub-banner-txt::after{
            content:'';
            display:none;
            height:2px;
            background-color: #000;                                
        }
        .sub-banner-txt p{    
            position:absolute;
            left:20px;
            right:20px;
            bottom:-150px;
            z-index:99996;   
        }
        .sub-banner-txt p::before{
            content:'한솔제지 소개';
            display:block;
            width:160px;
            margin-bottom:20px;
            padding:10px;
            background-color:#000;
            color:#fff;
            text-align:center;
        }
        .sub-banner-txt p::after{
            content:'초대 문화부 장관 이어령, 한솔 40년 사사 축사 중';
            display:block;
            padding-top:14px;
            font-size:12px;
            color:#999;
        }

        .togethor{
            margin:100px 0;
        }
        .togethor h2{  
            margin-bottom:100px;          
            font-weight:900;
            font-size:16vw;
            color:#f9f9f9;       
            position:relative;
        }
        .togethor h2 span{
            font-weight:900;
            font-size:32px;
            position:absolute;
            left:20px;
            top:12vw;
            color:#000;
        }

        .togethor hr{
            height:1px;
            margin:50px 20px;
            background-color:black;
        }
        .togethor .article{
            padding:0 20px;
            display:flex;
            flex-flow:row wrap;
            justify-content:space-between;            
        }
        .togethor h3{
            font-weight:900;
            font-size:1.5em;
        }
        .togethor .btn-right{
            width:30px;
            height:30px;
            border-radius:50%;
            background-color:#000;
            text-indent:-99999px;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .togethor .btn-right::after{
            content:'';
            display:block;
            width:12px;
            height:12px;
            margin-left:-5px;
            border:2px solid transparent;
            border-top-color:#fff;
            border-right-color:#fff;
            transform:rotate(45deg);
        }
        .togethor .article p{
            width:100%;
            padding-top:20px;            
        }
        .togethor .article p.ta{
            display:none;
        }
        .togethor .article p a{
            color:#666;
        }
        .footer{
            background-color:whitesmoke;
        }
        .footer .container{
            padding:20px;
            display:flex;
            flex-flow:row wrap;
            justify-content: space-between;            
        }
        .footer h2{
            order:1;
            opacity:0.3;            
        }
        .footer h2 *{
            color:#000;
        }
        .footer h2 *::after,.footer h2 *::before{
            background-color:#000;
        }
        .footer .address{
            order:4;
            font-size:12px;
            opacity: 0.8;
        }
        .footer .p-info{
            padding-top:5px;
            order:2;
            font-weight:900;
            font-size:1.1em;
        }

        .footer .select-box{
            order:3;
            width:100%;
            margin:20px 0; 
            position:relative;           
        }

        .footer .select-box p{
            border:1px solid #666;
            padding:6px 12px;
            background-color:#fff;
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .footer .select-box p::after{
            content: '';
            display:block;
            width:10px;
            height:10px;
            border:5px solid transparent;
            border-left-color:#000;
        }
        .footer .select-box ul{
            height:300px;
            border:1px solid black;
            background-color:#fff;            
            overflow-y:scroll;
            position:absolute;
            left:0;
            right:0;
            bottom:36px;
            display:none;
        }
        .footer .select-box ul li{
            padding:10px;
            font-size:18px;
            cursor: pointer;
        }
        .footer .select-box ul li:hover{
            background-color:rgba(0,0,0,0.2);
        }

        .insta,.face{
            display:none;
        }
        .pop-up{
            position:fixed;
            left:0;
            right:0;
            top:68px;
            z-index:99998;
            padding:20px;
            background-color:rgba(0,0,0,0.3);
        }
        .pop-up .container{
            display:flex;
            flex-flow:row wrap;
            justify-content:space-between;
            background-color:#fff;
        }
        .pop-up form,.pop-up button{
            margin:10px;
        }
        .pop-up button{
            text-indent:-99999px;
            cursor: pointer;
        }
        .pop-up button::before,.pop-up button::after{
            content:'';
            display:block;
            width:16px;
            height:2px;
            border-radius:1px;
            background-color:#000;
            transform:rotate(45deg);
                      
        }
        .pop-up button::after{
            transform:rotate(-45deg);
        }








        @media(min-width:540px){
            .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
                bottom:40px;                            
            }
            .swiper-slide-name{
                bottom:20px;
            }
            .link-slide{
                font-size:12px;
            }
            .link-slide::before{
                width:18px;
                height:18px;
            }
            .link-slide::after{
                width:9px;
                height:9px;
            }
            .swiper02 img{
                height:400px;
            }
            .swiper02 .swiper-pagination{
                bottom:220px !important;
            }
            .swiper02 .swiper-pagination .swiper-pagination-bullet{
                width:10px;
                height:10px;
                margin:0 5px !important;                
            }            
        }

        @media(min-width:640px){
            .togethor .article h3{
                width:150px;
                order:1;
            }
            .togethor .article .btn-right{                
                order:3;
            }
            .togethor .article p{
                margin-left:50px;
                margin-right:50px;
                padding-top:0;
                flex:6;
                width:auto;
                order:2;
            }            
            .togethor .article:last-child p.mo{
                display:none;
            }
            .togethor .article:last-child p.ta{
                display:block;
            }
            .pop-up{
                width:500px;
                left:50px;
            }

        }

        @media(min-width:840px){
            .swiper02{
                padding-top:100px;
                padding-bottom:100px;
            }
            .sub-banner-txt{
                padding:20px;
                justify-content:space-between;
            }
            .sub-banner-txt .sub-banner-slide-top,.sub-banner-txt p{
                position:static;
            }
            .sub-banner-txt p{
                height:170px;
                line-height:24px;
                display:flex;
                flex-flow:column nowrap;
                justify-content: space-between;
                align-items: flex-start;
            }
            .sub-banner-txt p::before{
                margin-bottom:0;
                order:3;
            }
            .sub-banner-txt p::after{
                padding-top:0;
            }
            .swiper02 .swiper-pagination{
                bottom:120px !important;
            }
            .togethor h2 span{
                font-size:52px;
            }
            .togethor .article p{
                margin-left:20%;
                margin-right:0%;
            }
            .togethor .article:first-of-type p.mo{
                display:none;
            }
            .togethor .article:first-of-type p.ta{
                display:block;
            }
            .footer .container{
                align-items:flex-start;
            }
            .footer h2{
                order:1;
                width:140px;
                align-items:flex-start;
            }
            .footer .address{
                order:2;
                flex:12;
            }
            .footer .p-info{
                order:3;
                width:auto;
                margin-right:20px;
            }
            .footer .select-box{
                order:4;
                width:200px;                
            }
            .select-box{
                display:flex;
                flex-flow:row wrap;
                justify-content:flex-end;
            }
            .select-box p{
                width:100%;
            }
            .insta,.face{
                display:block;
                width:40px;
                height:40px;
                margin-top:10px;
                border-radius:50%;
                background-color:#aaa;                
            }
            .insta{
                margin-right:10px;
                position:relative;
                text-indent:-99999px;
            }
            .insta::before,.insta::after{
                border:3px solid #fff;
                content:'';
                display:block;
                position:absolute;
                left:50%;
                top:50%;
                transform:translate(-50%,-50%);
            }
            .insta::before{
                width:26px;
                height:26px;                
                border-radius:4px;
            }
            .insta::after{
                width:13px;
                height:13px;
                border-radius:50%;
            }
            .insta div{
                width:4px;
                height:4px;                
                border-radius:50%;
                background-color:#fff;
                position:absolute;
                right:11px;
                top:11px;
            }
            .face *{
                font-weight:900;
                font-size:36px;
                color:#fff;
                text-align: center;
                margin-top:-2px;
            }

        }

        @media(min-width:960px){
            .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
                bottom:60px;                            
            }
            .swiper-slide-name{
                bottom:40px;
                font-size:14px;
            }
            .link-slide{
                font-size:14px;
            }
            .link-slide::before{
                width:22px;
                height:22px;
            }
            .link-slide::after{
                width:11px;
                height:11px;
            }
            .sub-banner-slide-top{
                width:auto;
                order:1;
            }
            .sub-banner-txt p{
                /* width:auto; */
                flex:2;
                order:3;
            }
            .sub-banner-txt::after{
                margin:0 40px;
                display:block;
                flex:1;
                order:2;               
            }
            .footer .address{
                font-size:1.1em;
            }
        }

        @media(min-width:1200px){
            .header{
                position:static;
            }
            .header .container{
                padding:14px 0;
            }
            .header .nav{
                padding:0;
                background-color:transparent;
                display:flex;
                justify-content: space-between;
                align-items: flex-end;
                position:static;
                transform:translate(0,0);
                transition:none;
            }
            .main-nav>li{
                padding:0 0.5em;
                display:inline-block;
            }
            .main-nav>li>a{
                display:inline;                
            }
            .main-nav a{
                color:#333;
            }
            .main-nav>li>a::after{
                display:none;
            }
            .sub-nav{
                position:static;
                justify-content:flex-end;
            }
            .sub-nav li{
                margin-right:0;
                margin-left:1em;
            }
            .sub-nav li:first-child{
                line-height:10px;
            }
            .sub-nav li:first-child a{
                color:#999;
            }
            .btn-nav{
                display:none;
            }

            .main-banner{
                padding-top:0;
            }
            .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
                bottom:80px;                            
            }
            .swiper-slide-name{
                bottom:60px;
                font-size:14px;
            }
            .link-slide{
                font-size:18px;
            }
            .link-slide::before{
                width:26px;
                height:26px;
            }
            .link-slide::after{
                width:13px;
                height:13px;
            }
            .swiper-button-prev,.swiper-button-next{
                display:block;
            }
            .swiper02 img{
                width:100%;
                height:auto;
            }
            .swiper02 .swiper-pagination{
                bottom:128px !important;
            }
            .swiper02 .swiper-pagination .swiper-pagination-bullet{
                width:14px;
                height:14px;
                margin:0 7px !important;                
            }
            .togethor h2{
                font-size:200px;
                text-align:center;
            }
            .togethor h2 span{
                text-align:left;
                top:170px;
            }
        }
        
        @media(min-width:1600px){
            .footer .address p{
                display:inline;
                margin-right:20px;
            }
        }